<div class="container">
<h2>Update Preferences</h2>

<%= form_for @user, url: "/preference", method: "patch" do |f| %>
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.check_box :checklist %>
          <label for="checklist">Checklist</label>
        </div>
        <div class="input-field col s6">
          <%= f.check_box :risk, {}, "true", "false" %>
          <%= label(:risk, "Risk Stratification") %>
        </div>
        <div class="input-field col s6">
          <%= f.check_box :counter %>
          <label for="counter">Timers</label>
        </div>
        <div class="row">
        	<button type="submit" class="btn right">Save</button>
        </div>
      </div>
    </form>
  </div>
  <% end %>
  </div>
